install:
  - set PATH=C:\ruby25-x64\bin;C:\msys64\usr\bin;C:\msys64\usr\local\bin;%PATH%
  - set MSYSTEM=MINGW64
  - bash --version
  - wget https://raw.githubusercontent.com/simple2d/simple2d/master/bin/simple2d.sh
  - bash simple2d.sh install -y
  - git submodule update --init --recursive
build: off
before_test:
  - ruby -v
  - bundle install
test_script:
  - rake
