install:
  - set PATH=C:\ruby30-x64\bin;C:\msys64\usr\bin;C:\msys64\usr\local\bin;%PATH%
  - set MSYSTEM=MINGW64
  - bash --version
  - git submodule update --init --recursive
build: off
before_test:
  - ruby -v
  - bundle install
test_script:
  - rake
